/* 选课 */
body {
  background-color: #f5f5f5;
  /*父容器*/
}
body .container {
  width: 10rem;
  box-sizing: border-box;
  /*顶部导航*/
  /*个人信息内容*/
}
body .container .top {
  padding: 0 0.53333333rem;
  height: 1.17333333rem;
  line-height: 1.17333333rem;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}
body .container .top .back,
body .container .top .save {
  width: 1.17333333rem;
  text-align: right;
  font-size: 0.37333333rem;
}
body .container .top .back {
  background: url('../images/fanhui_icon.png') no-repeat -0.06666667rem center;
  background-size: 0.53333333rem 0.53333333rem;
  color: transparent;
}
body .container .top .save {
  color: #ffd100;
}
body .container .top .title {
  font-size: 0.48rem;
  width: 6.58666667rem;
  text-align: center;
}
body .container .content {
  /*ul*/
}
body .container .content .mui-table-view {
  /*清除mui默认样式*/
  /*li*/
}
body .container .content .mui-table-view:after,
body .container .content .mui-table-view:before {
  height: 0;
}
body .container .content .mui-table-view .mui-table-view-cell {
  padding: 0;
  height: 1.28rem;
  line-height: 1.28rem;
  font-size: 0.42666667rem;
  border: none;
  /*列表内容*/
}
body .container .content .mui-table-view .mui-table-view-cell:after {
  height: 0;
}
body .container .content .mui-table-view .mui-table-view-cell .content {
  height: 1.28rem;
  margin-left: 0.53333333rem;
  padding-right: 0.53333333rem;
  border-bottom: 1px solid #e8e8e8;
  /*列表项值 input*/
}
body .container .content .mui-table-view .mui-table-view-cell .content span {
  font-size: 0.42666667rem;
  /*列表项*/
}
body .container .content .mui-table-view .mui-table-view-cell .content .item-content {
  font-size: 0.37333333rem;
  float: right;
  margin-top: 0.13333333rem;
  background-color: transparent;
  width: 5rem;
  line-height: 0.96rem;
  height: 0.96rem;
  border: none;
  border-radius: 0;
  text-align: right;
  padding: 0;
}
body .container .content .mui-table-view .mui-table-view-cell .content .inner-photo {
  margin-top: 0.13333333rem;
  width: 0.96rem;
  height: 0.96rem;
  border-radius: 50%;
  background: url('../images/loading.png') no-repeat center center;
  background-size: 0.96rem 0.96rem;
  -webkit-animation-name: 'loading';
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body .container .content .mui-table-view .mui-table-view-cell .content .inner-photo img {
  border-radius: 50%;
  width: 0.96rem;
  /*覆盖mui默认样式*/
}
body .container .content .mui-table-view .mui-table-view-cell .content .inner-photo img.mui-media-object {
  max-width: 0.96rem;
  height: 0.96rem;
  border-radius: 50%;
}
