// 激活颜色
@activeColor:#ffd100;
// 背景色:
@bgColor:#f5f5f5;
// 主字体颜色:
@fontColor:#2d2d2d;
// 弱化字体颜色：
@secondFontColor:#b5b5b5;
//内容颜色：
@contentColor:#505050;
//说明性文字颜色：
@descColor:#858585;
// 边框颜色
@borderColor:#e8e8e8;
/* 选课 */
body{
	/*父容器*/
	.container{
		background-color: pink;
		position: relative;
		width:10rem;
		// height:1000px;
		/*顶部视频播放区*/
		.top{
			width:10rem;
			// background-color: #000;
			position: fixed;
			height:548/75rem;
			z-index: 999;
			top:0;
			.nav{
				height:88/75rem;
				// line-height: 70/75rem;
				width: 10rem;
				color:#fff;
				background-color: #000;
				.back{
					padding:0 40/75rem;
					a{
						color:#fff;
						display:block;
						width:40/75rem;
						height:40/75rem;
						background:url('../images/white-back_icon.png') no-repeat center center;
						background-size: 40/75rem 40/75rem;
						margin-top:24/75rem;
					}
				}
				/*右侧*/
				.right{
					box-sizing: border-box;
					width:170/75rem;
					padding-right:40/75rem;
					height:88/75rem;
					line-height: 88/75rem;
					/*收听*/
					&:before,&:after{
						content:'';
						margin-top:24/75rem;
						display:block;
						width:40/75rem;
						height:40/75rem;
						background:url('../images/b-yinpin_icon.png') no-repeat center center;
						background-size: 40/75rem 40/75rem;
						float: left;
					}
					/*more*/
					&:after{
						float: right;
						background-image: url('../images/white-more_icon.png') ;
					}
				}
			}
			/*播放界面*/
			.playing-box{
				width:10rem;
				height:372/75rem;
				position: relative;
				// overflow: hidden;
				background-color: #000;
				/*控制按钮*/
				.play-btn{
					width:96/75rem;
					height:96/75rem;
					background: url('../images/shipin_icon.png') no-repeat center center;
					background-size: 96/75rem 96/75rem;
					position: absolute;
					left:326/75rem;
					top:72/75rem;
					// margin:142/75rem auto;
				}
			}
			/*当前播放详情*/
			.navbar{
				height:88/75rem;
				line-height: 88/75rem;
				// width:10rem;
				background-color: #fff;
				padding-left:40/75rem;
				border-bottom:1px solid @bgColor;
				color:#ccc;
				.left{
					font-size: 32/75rem;
					span{
						color:@activeColor;
						font-family:"sans-serif";
					}
				}
				.right{
					width:320/75rem;
					font-size: 32/75rem;
					span{
						// display:inline-block;
						// width:160/75rem;

					}
					/*详情图标*/
					.detail,.download{
						height:88/75rem;
						display:block;
						width:160/75rem;
						// position: relative;
						text-align: center;
						color:@secondFontColor;
						&:before{
							content:'';
							display:inline-block;
							width:44/75rem;
							height:88/75rem;
							vertical-align: top;
							background: url('../images/xiangqing_icon.png') no-repeat center center;
							background-size: 32/75rem 32/75rem;
						}
					}
					.download{
						&:before{
							background-image: url('../images/hrey-xiazai_icon.png');
						}
					}
				}
			}
		}
		/*播放列表*/
		.playing-list{
			margin-top:546/75rem;
			background-color: @bgColor;
			width:10rem;
			height: 10rem;
			/*子导航*/
			.sub-nav{
				width:10rem;
				height:108/75rem;
				line-height: 88/75rem;
				margin-bottom:10/75rem;
				background-color: @bgColor;
				position: fixed;
				top:546/75rem;
				z-index: 9;
				ul{
					z-index: 0;
					height:88/75rem;
					background-color: #fff;
					border-bottom:1px solid @bgColor;

					li{
						height:88/75rem;
						width:5rem;
						text-align: center;
						font-size: 44/75rem;
						color:@secondFontColor;
						position: relative;
						&.active{
							color:@fontColor;
						}
						.active{
							position: absolute;
							display:inline-block;
							width: 42/75rem;
							height:4/75rem;
							background-color: @activeColor;
							bottom:0;
							left:2.5rem;
							transform:translateX(-21/75rem);
						}
					}
				}
			}
			.inner-cont{
				// overflow: hidden;
				margin-top:654/75rem;
				position: relative;
				background-color: #fff;
				/*列表内容*/
				.content{
					// display:none;
					background-color: @bgColor;
					/*顶部控制*/
					.sub-top{
						height: 88/75rem;
						line-height: 88/75rem;
						padding:0 40/75rem;
						background-color: #fff;
						border-bottom:1px solid @borderColor;
						div{
							button{
								font-size:28/75rem;
								color:@secondFontColor;
								font-family:"sans-serif";
							}
						}

						/*倒序*/
						.left,.right{
							&:before{
								display:inline-block;
								content:'';
								width:40/75rem;
								height:88/75rem;
								vertical-align: top;
								background: url('../images/daoxu_icon.png') no-repeat center center;
								background-size: 35/75rem 35/75rem;
							}
						}
						/*播放全部*/
						.left{
							&:before{
								width:60/75rem;
								// height:44/75rem;
								// background-color: pink;
								background-image: url('../images/s-bofang_icon.png');
								background-size:44/75rem 44/75rem ;
								background-position: left center;
							}
						}
					}
					/*内容*/
					.content-list{
						width:100%;
						background-color: red;
						ul{
							width:100%;
							li{
								box-sizing: border-box;
								width:10rem;
								height:127/75rem;
								border-bottom:1px solid @borderColor;
								background-color: #fff;
								padding:0 40/75rem;
								/*播放状态图标*/
								.status{
									width:44/75rem;
									height:127/75rem;
									line-height: 127/75rem;
									position: relative;
									button{
										position: absolute;
										top:50%;
										transform:translateY(-50%);
										width:44/75rem;
										height:44/75rem;
										background-color: red;
										border-radius:50%;
										background: url('../images/q-bofang_icon.png') no-repeat center center;
										background-size: 44/75rem 44/75rem;
										&.active{
											background-image: url('../images/z-bofang_icon.png');
										}
									}
								}
								/*课程详细内容*/
								.detail{
									margin-left:15/75rem;
									height:124/75rem;
									background-color: #fff;
									width:450/75rem;
									box-sizing: border-box;
									padding-top:10/75rem;

									h4{
										font-size:36/75rem;
										text-overflow:ellipsis;
										white-space: nowrap;
										overflow: hidden;
									}
									p{
										line-height: 40/75rem;
										color:@secondFontColor;
										font-size: 28/75rem;
										font-family:"sans-serif";
										.length{
											margin-left:20/75rem;
										}
									}
								}
								/*当前课程操作*/
								.todos{
									width:120/75rem;
									height:126/75rem;
									/*问问题*/
									.ask-ques,.do-homework{
										width:60/75rem;
										height: 127/75rem;
										a{
											display:inline-block;
											margin-top:(127-35)/2/75rem;
											width: 35/75rem;
											height:35/75rem;
											background: url('../images/wengao_icon.png') no-repeat center center;
											background-size: 35/75rem 35/75rem;
										}
									}
									/*写作业*/
									.do-homework{
										text-align: right;
										a{
											background-image: url('../images/xiezuoye_icon.png');
										}
									}
								}
							}
						}
					}
				}
				/*评价*/
				.evaluation{
					display:none;
					width:10rem;
					background-color: pink;
					height:20rem;
				}
			}
		}
	}
}
