
html,body,h1,h2,h3,h4,h5,h6,div,input,button,ul,li,p {
	padding: 0;
	margin: 0;
	border:none;
	outline:none;
	font-size:14px;
	background-color: transparent;
	font-weight: normal;
	font-family:"sans-serif";
}
ul,li{
	list-style: none;
}
li{
	float: left;
}
// 修改搜索框提示颜色
input:-moz-placeholder,textarea:-moz-placeholder{
	color: #b5b5b5;
	font-family:"sans-serif";
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder{
	color: #b5b5b5;
	font-family:"sans-serif";
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
	color: #b5b5b5;
	font-family:"sans-serif";
}

a {
	text-decoration: none;
	color:#000;
}
.clearfix:before {
	content:" ";
	display:block;
	height:0;
	clear:both;
	// visibility:hidden
}
.fl{
	float: left;
}
.fr{
	float: right;
}
i{
	font-style: normal;
}

